- @featured_pages = Page.featured.all(:order => 'featured_date DESC')
.unit.size1of2
  #featured_pages.dashboard_module
    %h2 Featured Pages
    - unless @featured_pages.blank?
      %ul
        - @featured_pages.each do |page|
          %li
            %span
              - link_to page.url do
                = %{#{page.title} #{page.featured_date.to_date.to_formatted_s(:long)}}
            = "Updated by #{updater_name_for(page)} #{time_ago_in_words page.updated_at.to_time} ago."
            .modifications
              = link_to "Edit", edit_admin_page_path(page), :class => 'update'
              = link_to "Remove", remove_admin_page_path(page), :class => 'delete'
    - else
      %p There are currently no Featured Pages.